p Olá.

p Foi requisitado a alteração da senha de sua conta. Se você não pediu por isto, desconsidere este e-mail.
p
  = "Para criar uma nova senha clique nesse link: "
  = link_to "Alterar minha senha", edit_password_url(@user.reset_password_token)

p Atenciosamente

p Azuleiro
