*.log
.DS_Store
.loadpath
.project
.sass-cache/
config/environments/development.rb
config/environments/production.rb
config/database.yml
config/credentials.yml
config/newrelic.yml
config/smtp.yml
db/schema.rb
nbproject/*
public/system/*
test/
tmp/*
