.page-header
  h1 Cadastre-se

p(class="alert-message block-message warning") Após criar uma conta, ela será enviada para aprovação. Caso seja aprovada, você receberá um e-mail de confirmação, se não é porque não te conheço.

== render "form"
